/*
font-family: 'Lato', sans-serif;
font-family: 'Muli', sans-serif;

*/

* {
    box-sizing: border-box;
}



.main-container {
    background: url('../img/isola1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    transition: height .4s ease;
}

.main-container h1 {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

.main-container h5 {
    font-size: 1em;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
}

.main-container a {
    color: black;
}

.main-container a:hover {
    cursor: pointer;
}
